body {
    color: black;
    /* background-color: wheat;
    background-color: rgb(100%, 100%, 100%);
    background-color: rgb(255, 255, 255); */
    background-color: WindowInfoBackground;
    font-family: "Century Gothic", verdana, arial, san-serif;
    font-size: 20px;
    line-height: 150%;
    margin: 1em;
    border: 4px double black;
    padding: 0.25em;
}

p {
    margin: 0;
}

p span {
    font-style: italic;
    font-weight: 900;
}